<a href="" title="">
    <div class="authors-card item">
        <img src="https://as.ftcdn.net/v1/pics/home/discover_collections/22May/9a684b294728f6115501bba2ca05ff38b072a2e9.photos.jpg" alt="" />
        <h3>Ana Maria</h3>
    </div>
</a>