<section class="section-info">
    <div class="section-info-header">
        <h1>{{title}}</h1>
    </div>
    <div class="section-info-body">
        <div class="cards grid-4">
            <a href="/admin/users" title="Users">
                <div class="card bg-primary">
                    <i class="fa-solid fa-users text-white"></i>
                    <p class="text-white">Users</p>
                </div>
            </a>
            <a href="/admin/books" title="Books">
                <div class="card bg-danger">
                    <i class="fa-solid fa-book text-white"></i>
                    <p class="text-white">Books</p>
                </div>
            </a>
            <a href="/admin/categories" title="Categories">
                <div class="card bg-warning">
                    <i class="fa-solid fa-tags text-white"></i>
                    <p class="text-white">Categories</p>
                </div>
            </a>
            <a href="/admin/authors" title="Authors">
                <div class="card bg-success">
                    <i class="fa-solid fa-book-open-reader text-white"></i>
                    <p class="text-white">Authors</p>
                </div>
            </a>
        </div>
    </div>
</section>