<footer class="footer">
    <p>{{config.app.name}} &copy; 2022 | Developed by <a href="https://ryan-menezes.github.io/" target="_blank" title="Ryan de Menezes Nobre Ciriaco">Ryan de Menezes</a></p>
</footer>