{{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger"><i class="fa-solid fa-circle-xmark"></i> {{this}}</div>
    {{/each}}
{{/if}}

{{#if successes}}
    {{#each successes}}
    <div class="alert alert-success"><i class="fa-solid fa-circle-check"></i> {{this}}</div>
    {{/each}}
{{/if}}
