<div class="pagination">
    {{#if lastPage}}
    <a href="{{lastPage}}" title="Anterior"><i class="fa-solid fa-angles-left"></i> Anterior</a>
    {{/if}}

    {{#if nextPage}}
    <a href="{{nextPage}}" title="Próximo">Próximo <i class="fa-solid fa-angles-right"></i></a>
    {{/if}}
</div>