{{>site/_header}}

<section class="container">
    <div class="top-info">
        <h2 class="top-info-title">Books by <span>different authors</span> go through our catalog!</h2>
    </div>

    <div class="authors owl-carousel owl-theme">
        {{>site/authors/_card}}
    </div>
</section>

<section class="container">
    <div class="top-info">
        <h2 class="top-info-title">Alguns livros de nosso catálogo</h2>
    </div>
    <div class="books">
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
        {{>site/books/_card}}
    </div>
</section>