<div class="container footer-info">
    <a href="/" title="{{config.app.name}}"><img src="/img/logo.png" alt="{{config.app.name}}" class="logo" /></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptas modi voluptates vel soluta suscipit quam ducimus nisi! Distinctio, consequuntur quidem.</p>
</div>
<footer class="footer">
    <p>{{config.app.name}} &copy; 2022 | Developed by <a href="https://ryan-menezes.github.io/" target="_blank" title="Ryan de Menezes Nobre Ciriaco">Ryan de Menezes</a></p>
</footer>