<header class="header-find">
    <section class="container py-2">
        <nav class="header-nav">
            <a href="/" title="{{config.app.name}}"><img src="/img/logo.png" alt="{{config.app.name}}" class="logo" /></a>
            <ul>
                <li><a href="/" title="Home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/books" title="Books"><i class="fa-solid fa-book"></i> Books</a></li>
                <li><a href="/categories" title="Categories"><i class="fa-solid fa-tags"></i> Categories</a></li>
                <li><a href="/authors" title="Authors"><i class="fa-solid fa-book-open-reader"></i> Authors</a></li>
            </ul>
        </nav>
    </section>
</header>