<header class="header">
    <section class="container">
        <nav class="header-nav">
            <a href="/" title="{{config.app.name}}"><img src="/img/logo.png" alt="{{config.app.name}}" class="logo" /></a>
            <ul>
                <li><a href="/" title="Home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/books" title="Books"><i class="fa-solid fa-book"></i> Books</a></li>
                <li><a href="/categories" title="Categories"><i class="fa-solid fa-tags"></i> Categories</a></li>
                <li><a href="/authors" title="Authors"><i class="fa-solid fa-book-open-reader"></i> Authors</a></li>
            </ul>
        </nav>

        <div class="header-info">
            <h1 class="header-title">See our huge book catalog</h1>
            <p class="header-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur omnis qui minus veniam voluptatum maxime, corrupti, voluptas, quasi accusamus quidem! Alias eveniet sapiente nemo tempore adipisci non ipsa nobis!</p>
            <a href="/books" title="See our huge book catalog" class="btn">More info <i class="fa-solid fa-plus"></i></a>
        </div>
    </section>
</header>