<section class="section-info">
    <div class="section-info-header">
        <h1>{{title}}</h1>

        <a href="/admin/categories/new" title="New Category" class="btn">New <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="section-info-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" target="_blank" title="">Terror <i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    <td>13/02/2003</td>
                    <td>13/02/2003</td>
                    <td>
                        <a href="javascript:void(0)" data-delete="/admin/categories/1/delete" title="Delete Category" class="btn btn-danger p-1"><i class="fa-solid fa-trash-alt m-0"></i></a>
                        <a href="/admin/categories/1/edit" title="Edit Category" class="btn btn-primary p-1"><i class="fa-solid fa-pencil m-0"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>