<div class="books-card">
    <img src="https://cdn.maioresemelhores.com/imagens/mm-livros-infantis-11-cke.jpg" alt="" class="books-img" />
    <div class="books-info">
        <a href="" title=""><h3 class="books-title">Marcelo, marmelo, martelo</h3></a>

        <div>
            <p class="books-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla veniam id explicabo laborum cupiditate obcaecati</p>
            
            <div class="books-categories">
                <a href="" title=""><span><i class="fa-solid fa-tag"></i> Infantil</span></a>
                <a href="" title=""><span><i class="fa-solid fa-tag"></i> Divertido</span></a>
            </div>
        </div>
    </div>
</div>