<div class="books-card">
    <img src="https://cdn.maioresemelhores.com/imagens/mm-livros-infantis-11-cke.jpg" alt="" class="books-img" />
    <div class="books-info">
        <a href="" title=""><h3 class="books-title">Marcelo, marmelo, martelo</h3></a>

        <div>
            <p class="books-authors">Ruth Rocha</p>
        </div>
    </div>
</div>