<nav class="sidebar">
    <div class="sidebar-header">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/2083573-foto-de-perfil-de-desenho-animado-de-mulher-negra-vetor.jpg" alt="" />
    </div>
    <ul class="sidebar-body">
        <a href="" title="Home"><li><i class="fa-solid fa-house"></i> Home</li></a>
        <a href="" title="Perfil"><li><i class="fa-solid fa-user"></i> Perfil</li></a>
        <a href="" title="Books"><li><i class="fa-solid fa-book"></i> Books</li></a>
        <a href="" title="Categories"><li><i class="fa-solid fa-tags"></i> Categories</li></a>
        <a href="" title="Authors"><li><i class="fa-solid fa-house"></i> Authors</li></a>
        <a href="" title="Logout"><li><i class="fa-solid fa-right-to-bracket"></i> Logout</li></a>
    </ul>
</nav>